{% load static %}
<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Boss</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a href="#boss" class="nav-link active" data-toggle="tab">タブ1</a>
  </li>
  <li class="nav-item">
    <a href="#attack-log" class="nav-link" data-toggle="tab">タブ2</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="boss" role="tabpanel" aria-labelledby="boss-tab">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item">Boss</li>
        </ol>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>HP</th>
                    <th>ダメージ目安</th>
                </tr>
            </thead>
            <tbody>
                {% for b in boss %}
                    <tr>
                        <td>{{b.boss_number}}</td>
                        <td>{{b.boss_name}}</td>
                        <td>{{b.max_hit_point}}</td>
                        <td><a href="/clanbattle/popup/update_target/{{b.id}}">{{b.target}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="attack-log" role="tabpanel" aria-labelledby="attack-log-tab">
        <ol class="breadcrumb my-4">
            <li class="breadcrumb-item">aaaaaaa</li>
        </ol>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>名前</th>
                    <th>HP</th>
                    <th>ダメージ目安</th>
                </tr>
            </thead>
            <tbody>
                {% for b in boss %}
                    <tr>
                        <td>{{b.boss_number}}</td>
                        <td>{{b.boss_name}}</td>
                        <td>{{b.max_hit_point}}</td>
                        <td>{{b.target}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
